@keyframes move-right{
    0%{
        left: 0px;
        top: 0px;
        border-radius: 0px;
    }
    33%{
        left: 500px;
        top: 0px;
        border-radius: 50px;
    }
    66%{
        left: 800px;
        top: 0px;
        border-radius: 80px;
    }
    100%{
        left: 1200px;
        top: 0px;
        border-radius: 100%;
    }
}

@-webkit-keyframes move-right{
    0%{
        left: 0px;
        top: 0px;
        border-radius: 0px;
    }
    33%{
        left: 500px;
        top: 0px;
        border-radius: 50px;
    }
    66%{
        left: 800px;
        top: 0px;
        border-radius: 80px;
    }
    100%{
        left: 1200px;
        top: 0px;
        border-radius: 100%;
    }
}


.div1{
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    position: relative;
    /* animation-name: move-right;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite; */

    animation: move-right 2s 0s ease alternate infinite;
}

.div2{
    background-color: burlywood;
    width: 200px;
    height: 200px;
    position: relative;
    
    clip-path: polygon(90px 44px, 119px 119px, 23px 108px, 41px 76px, 29px 10px);

}

.div3{
    background-color: tomato;
    width: 200px;
    height: 200px;
    position: relative;
}
.div3 img{
    width: 100%;
    height: 100%;
    filter: blur(10px);
    filter: drop-shadow(10px 20px 12px red);
    filter: grayscale(50%);
}

.div4, .div5, .div6{
    background-color: tomato;
    width: 200px;
    height: 200px;
    /* position: relative; */
}

.div4 h1{
    transform: translate(200px, 30px);
    transform: skew(45deg, 30deg); 
    transform: perspective(200px);
    transform: rotate(200deg);
    transform: scale(2, 1.5);
}

.div5{
    background-color: aquamarine;
    position: relative;
    z-index: 2;
}
.div6{
    background-color:teal;
    position:relative;
    top: -150px;
    left: 25px;
    z-index: 1;
}