.box{
    border: solid 1px red;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
}

.inner-box{
    border: dotted 2px black;
    margin: 5px;
    /* width: 20%; */
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px; */
    flex: 1 1 300px;
}
@media (min-width: 300px) and (max-width: 640px) {
    .inner-box{
        /* width: 100%; */
    }
}

@media (min-width: 641px) and (max-width: 720px) {
    .inner-box{
        /* width: 40%; */
    }
}