* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

body {
  background-color: #000000c8;
  background-image: url("./assets/background-image/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
section {
  padding-top: 120px;
  padding-bottom: 60px;
}
.image-banner > img {
  padding: 20px 0;
  height: 500px;
  width: 100%;
}
/* about */
.about-image img {
  height: 40px;
  border-radius: 40%;
}
.about-content {
  background-color: rgba(186, 186, 186, 0.114);
}
.about-content-col img {
  height: 70%;
  width: 100%;
}
/* feature */
.icon-feature {
  font-size: 30px;
  width: 70px;
  padding: 20px 0;
  border: 1px solid white;
  border-radius: 50%;
}
.records {
  background-color: lab(100% 0.01 -0.01 / 0.096);
}
/* menu */
.menu-select ul li {
  padding: 10px;
  background-color: rgba(186, 186, 186, 0.016);

  border: solid 1px white;
  border-radius: 25px;
  /* width: 200px; */
}

.menu-image img {
  width: 100px;
  height: 100px;
}
.menu-tag {
  font-size: 14px;
  padding: 3px 8px;
  background-color: rgba(255, 228, 196, 0.422);
  border-radius: 20px;
  font-weight: 500;
}
.price {
  color: rgb(255, 228, 196);
}
.menu-col {
  background-color: rgba(128, 128, 128, 0.619);
  padding: 10px;
  border-radius: 8px;
}
.download-menu {
  text-decoration: none;
  color: aliceblue;
  background-color: rgba(255, 166, 0, 0.584);
  border-radius: 40px;
  padding: 20px;
  font-weight: 600;
}
.chefs-heading span{
  background-color: #ceae7f88;
  padding: 10px;
  border-radius: 40px;
  font-weight: 700;
}
.chefs-sec{
 background-color: #585656;
 padding: 20px;
}
