* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", Helvetica, sans-serif;
}

.img-100 {
  width: 100%;
}
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
}
.contact-bar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: end;
}
.contact-bar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact-bar-item > i {
  font-size: 30px;
  margin-right: 10px;
}

.contact-bar-item > p > .contact-address-heading {
  font-size: 24px;
  /* font-weight: 800; */
}
.contact-email-heading {
  font-size: 24px;
  /* font-weight: 800; */
}
.contact-bar-button {
  padding: 10px 50px;
  font-size: 20px;
  background-color: white;
}
/* navbar  */
#nav-1 {
  background-color: #000f32;
  width: 85vw;
  margin: 30px 0;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
#nav-1-heading {
  margin: 10px;
}
#nav-1-heading > a {
  margin: 20px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.nav2-social-icon {
  font-size: 20px;
  color: white;
  padding: 20px;
}
/* <!-- banner --> */
#banner {
  background-color: #00234482;
  background-image: url("./images/slide-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  height: 400px;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 133px 10rem;
  color: white;

  /* text-align: center; */
}
#banner-content > h1 {
  font-size: 60px;
  color: #000f32;
}
#banner-content > button {
  padding: 10px 30px;
  font-size: 20px;
}

/* feautres */
#goal {
  display: flex;
  flex-direction: row;
  text-align: center;
  /* background-color: #868e96; */
}
.goal-class {
  /* height: 600px; */
  /* font-size: 0px; */
  padding: 100px 0px;
}
.goal-class > i {
  font-size: 50px;
}
/* <!-- about company --> */
#about-company {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-left: 105px;
  padding-right: 105px;
  margin-bottom: 100px;
}
#about-company > img {
  margin-bottom: 100px;
}
#about-company-content-box {
  text-align: start;
}
#about-company-content > h1 {
  font-size: 40px;
}
#about-company-content-icons {
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
.about-content-card > p {
  margin: 0;
  /* font -weight: 800; */
}
/* banner */
#background-image-2 {
  background-image: url("/images/CLouds_1920x1080.jpg");
  height: 400px;
  background-color: aliceblue;
  color: black;
  /* text-align: center; */
}
#background-image-2-content {
  display: flex;
  justify-content: center;
  /* dought */
  align-items: center;
  font-size: 30px;
  text-align: center;
  color: aliceblue;
  padding: 50px 0px;
  font-weight: bolder;
}
#background-image-2-button > button {
  width: 200px;
  height: 50px;
  background-color: #000f32;
  color: aliceblue;
  font-weight: bolder;
  margin-left: 650px;
}

/* our services */
#our-services {
  /* background-color: #868e96; */
  margin: 100px;
}
#our-services-heading {
  text-align: center;
}
#our-service-main-content-first {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

#our-service-main-content-second {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.our-services-card {
  display: flex;
  /* margin-right: 10px; */
}
.our-services-card-img {
  padding-right: 20px;
}
#contact {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin: 0px 0px;
}
#contact > p {
  padding: 0px;
}
#contact > h5 {
  color: #000f32;
  padding: 0px;
}
/* background image */
#background-image-3 {
  background-image: url("./images/about_our_company.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
#background-image-3-content {
  background-color: aliceblue;
  color: black;
  width: 40%;
  display: flex;
  flex-direction: column;

  margin: 100px;
  /* dought */
}
#background-image-3-content > p {
  font-size: 20px;
  /* padding: 60px 0px; */
  margin: 100px;
}
/* <!-- our team --> */
#our-team {
  margin: 100px;
}
.our-team-card {
  text-align: center;
}
#our-team-content {
  display: flex;
  flex-direction: row;
  font-family: "Source Sans Pro", sans-serif;
  justify-content: space-evenly;
}
.our-team-card-img > img {
  height: 200px;
}
.our-team-card-img {
  text-align: center;
}
.icon-our-team > p {
  width: 210px;
}
/* COMPANY SUCCESS */
#company-success-heading > p {
  color: black;
  font-size: 20px;
}
#company-success-heading {
  text-align: center;
  color: #007bff;
}
#company-success-numbers {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  font-size: 40px;
  text-align: center;
  color: #001a57;
}
.com-success-card {
  font-size: 30px;
  font-weight: 100;
  padding: 0px 0px;
}
.com-success-card > p {
  font-size: 20px;
}
.button-success {
  padding: 10px 50px;
  font-size: 40px;
  height: 50px;
  background-color: white;
  text-align: center;
}
#button {
  height: 50px;
  width: 300px;
  background-color: #000f32;
  color: aliceblue;
}
/* <!-- consult --> */

#content-consult {
  text-align: center;
  padding: 100px;
  padding-bottom: 50px;
  font-size: 20px;
}
.image-consult {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 20px 20px 20px 20px;
}
/* .image-consult > img {
  width: 500px;
  height: 500px;
} */

.container {
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  justify-content: center;
  /* align-items: center;   */
}
.card {
  padding: 75px 40px 0 40px;
  width: 35vw;
  box-shadow: 0px 0px 25px 5px #d3ceceb0;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.col {
  width: 50%;
  /* border: solid 1px ; */
  /* padding: 10px 15px; */
  padding-bottom: 15px;
}
.form-label {
  display: none;
}
.input-field {
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: solid 2px #5e5e5e;
  outline: none;
  font-size: 16px;
  background-color: white;
}
.col-3 {
  width: 100%;
}
.col-3 > textarea {
  width: 100%;
  resize: none;
  font-size: 18px;
  height: 100px;
  border: none;
  border-bottom: solid 2px #5e5e5e;
  outline: none;
}
.btn {
  padding: 12px 20px;
  margin-top: 20px;
  background-color: #02023e;
  color: white;
  border: none;
}
/* <!-- end --> */
#end {
  display: flex;
  justify-content: space-evenly;
  background-color: #001648;
  color: aliceblue;
  margin-top: 100px;
}
#about-consultuing {
  width: 25%;
  font-size: 15px;
  margin-top: 5px;
}
#about-consultuing > p {
  font-size: 20px;
}
#recent-post-img1 {
  display: flex;
  margin: 20px;
}
#recent-post-img1 > img {
  display: flex;
  height: 100px;
}
#recent-post-img2 {
  display: flex;
  margin: 20px;
}
#recent-post-img2 > img {
  display: flex;
  height: 100px;
}
.recent-post-class p {
  display: flex;
  align-items: center;
}

#sol-list ul li {
  font-size: 20px;
  margin: 20px 0;
}
#form-2-content {
  font-size: 20px;
}
#form-2-content > form > label {
  display: none;
}
#form-2-content > form > input {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  outline: none;
  border: none;
  height: 50px;
  width: 300px;
  background-color: #001648;
  color: white;
  border-bottom: solid 1px white;
}
.theme-button-one {
  width: 200px;
  height: 50px;
  font-size: 15px;
  font-weight: 700;
  background-color: aliceblue;
}
.button-class {
  margin-top: 10px;
}

/* copyrights */
#copyrights {
  display: flex;
  justify-content: space-around;
  background-color: #010510;
  color: aliceblue;
}
#copyrights-content {
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 100px;
}
