/* div {
  border: solid 1px;
  padding: 10px; */
/* } */
#logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#logo > img {
}

.contact-bar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: end;
}
.contact-bar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact-bar-item > i {
  font-size: 30px;
  margin-right: 10px;
}
.contact-bar-item > p > span {
}
.contact-bar-item > p > .contact-address-heading {
  font-size: 24px;
  font-weight: 800;
}
.contact-email-heading {
  font-size: 24px;
  font-weight: 800;
}
.contact-bar-button {
  padding: 10px 50px;
  font-size: 20px;
  background-color: white;
}
