/* div {
  border: solid 1px;
  padding: 10px;
} */
.img-100 {
  width: 100%;
}
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
}
.contact-bar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: end;
}
.contact-bar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact-bar-item > i {
  font-size: 30px;
  margin-right: 10px;
}
.contact-bar-item > p > span {
}
.contact-bar-item > p > .contact-address-heading {
  font-size: 24px;
  /* font-weight: 800; */
}
.contact-email-heading {
  font-size: 24px;
  /* font-weight: 800; */
}
.contact-bar-button {
  padding: 10px 50px;
  font-size: 20px;
  background-color: white;
}
/* navbar  */
#nav-1 {
  background-color: #000f32;
  width: 85vw;
  margin: 30px 0;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
#nav-1-heading {
  margin: 10px;
}
#nav-1-heading > a {
  margin: 20px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.nav2-social-icon {
  font-size: 20px;
  color: white;
  padding: 20px;
}
/* <!-- banner --> */
#banner {
  background-color: #00234482;
  background-image: url("./images/slide-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  height: 400px;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 133px 10rem;
  color: white;
  /* text-align: center; */
}
#button-banner > button{
  width: 200px;
  height: 50px;
  align-items: center;
  font-size: 20px;
}

/* feautres */
#goal {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.goal-class {
  /* height: 600px; */
  /* font-size: 0px; */
  padding: 100px 0px;
}
.goal-class >i{
  font-size: 50px;
}
/* <!-- about company --> */
#about-company {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#about-company-content {
  text-align: center;
}
#about-company-content-icons {
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.about-content-card > p {
  margin: 0;
  /* font -weight: 800; */
}
/* banner */
#background-image-2 {
  background-image: url("/images/CLouds_1920x1080.jpg");
  height: 200px;
  background-color: aliceblue;
  color: black;
  /* text-align: center; */
}
#background-image-2-content {
  display: flex;
  justify-content: center;
  /* dought */
  align-items: center;
}

/* our services */
#our-services {
}
#our-services-heading {
  text-align: center;
}
#our-service-main-content-first {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

#our-service-main-content-second {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.our-services-card {
  display: flex;
}
#contact {
  text-align: center;
  font-size: 30px;
}
/* background image */
#background-image-3 {
  background-image: url("./images/about_our_company.jpg");
  height: 400px;
}
#background-image-3-content {
  background-color: aliceblue;
  color: black;
  width: 40%;
  display: flex;
  /* dought */
}
/* <!-- our team --> */
#our-team {
}
.our-team-card {
  text-align: center;
}
#our-team-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.our-team-card-img > img {
  height: 200px;
}
.our-team-card-img {
  text-align: center;
}
/* COMPANY SUCCESS */
#company-success-heading {
  text-align: center;
  color: #007bff;
}
#company-success-numbers {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: 40px;
  text-align: center;
  color: #007bff;
}
.button-success {
  padding: 10px 50px;
  font-size: 40px;
  height: 50px;
  background-color: white;
  text-align: center;
}
#button {
  height: 50px;
  width: 300px;
}
/* <!-- consult --> */
#content-consult {
  text-align: center;
}
.image-consult > img {
  width: 30%;
  height: 400px;
}
.image-consult {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#table-1 {
  height: 380px;
}
/* <!-- end --> */
#end {
  display: flex;
  justify-content: space-evenly;
  background-color: #007bff;
}
#about-consultuing {
  width: 25%;
}
#recent-post-img1 {
  display: flex;
}
#recent-post-img1 > img {
  display: flex;
  height: 100px;
}
#recent-post-img2 {
  display: flex;
}
#recent-post-img2 > img {
  display: flex;
  height: 100px;
}

#copyrights {
  display: flex;
  justify-content: space-around;
}
#copyrights-content {
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 100px;
}
