* {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0px 150px;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  /* padding:0 200px; */
}

.header-content {
  background-color: rgb(241, 241, 241);
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
}
.navbar_a {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-align: left;
  padding: 0 8px;
}
/* BANNER */
.banner {
  margin: 200px 0;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.banner-content {
  text-align: left;
  font-family: "Poppins", sans-serif;
  padding: 200px 30px;
}
.banner-content-head-3 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  padding: 15px 0;
  font-weight: 400;
}
.banner-content-h1 {
  font-family: "Poppins", s ans-serif;
  padding: 15px 0;
  font-size: 40px;
}
.banner-content-p {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
  line-height: 1.625em;
  padding: 10px 0;
}

.btn {
  border: none;
  background: linear-gradient(90deg, #8989cc, #cba8cb);
  /* padding: 20px  12px; */
  color: aliceblue;
  padding: 15px 10px;
  font-weight: 500;
  letter-spacing: 1px;
}
.btn:hover {
  box-shadow: 0px 20px 20px 0px rgba(3, 3, 3, 0.3);
}
/* About me */
.about-me-content {
  padding: 15px 10px;
}
.btn-2 {
  border: none;
  background: linear-gradient(90deg, #8989cc, #cba8cb);
  /* padding: 20px  12px; */
  color: aliceblue;
  padding: 15px 20px;
  font-weight: 500;
  letter-spacing: 1px;
}
.btn-2:hover {
  box-shadow: 0px 20px 20px 0px rgba(3, 3, 3, 0.3);
}

/*services */

.services-header {
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  padding: 20px;
  margin-top: -100px;
}
.services-header-p {
  letter-spacing: 1px;
  padding: 10px 25px;
}
.services_1-3 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 20px 30px;
  margin: 30px 20px;
}
.main-services-content {
  font-size: 15px;
  width: 30%;
}
.services-icon {
  font-size: 40px;
  padding-bottom: 20px;
}
.services-icon:hover {
  color: #8490ff;
}

.services-h3 {
  padding-bottom: 20px;
}
.services-h3:hover {
  color: #8490ff;
}

/* records */
.records {
  width: 100%;
  background-color: #8490ff;
  margin: 130px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
}
.record-content {
  padding: 100px 40px;
  text-align: center;
  font-size: 25px;
}
.records-span {
  font-size: 15px;
}
/* features */
.features {
  margin: 20px 0px;
}
.features-heading {
  font-family: "Poppins", sans-serif;
  color: #222222;
  text-align: center;
  margin: 40px 0;
  padding: 20px 20px;
  letter-spacing: 1px;
  font-weight: 600;
}
.features-heading-p {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.features-link {
  text-align: center;
  margin: 40px 20px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
}
.features_a {
  padding: 20px 20px;
  color: #222222;
  text-decoration: none;
  outline: none;
}
.features-section-p {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 0;
}
.featuers-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.section-img {
  position: relative;
}
.overlay-image {
  background-color: #8490ff8b;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 341px;
  text-align: center;
  line-height: 24;
  display: none;
}
.section-img:hover .overlay-image {
  display: block;
}

.section-content {
  text-align: center;
  margin: 20px 0px;
}
/* feedback */
.feedback {
  margin: 100px 0px;
  background-color: #f9f9ff;
}
.feedback-heading {
  text-align: center;
}
.feedback-heading-h1 {
  padding: 5px 0;
  font-weight: 600;
}
.feedback-heading-p {
  font-weight: 300;
  color: #777777;
  padding-bottom: 30px;
  letter-spacing: 1px;
}
.feedback-main-content-box {
  display: flex;
  flex-direction: row;
}
.feedback-img {
  /* padding: 0 30px; */
  padding: 10px 10px;
  width: 40%;
}
.feedback-box {
  background-color: #fff;
  margin: 40px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.feedback-box-content {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 14px;
}
/* plan */
.plan {
  margin: 50px 0;
  padding: 20px 0;
}
.plan-heading {
  text-align: center;
}
.plan-heading-p {
  font-weight: 300;
  color: #777777;
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
}
.plan-main-content-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.plan-content {
  width: 25%;
  margin: 20px 20px;
  padding: 10px 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.plan-content:hover {
  box-shadow: 0 10px 25px #8490ff;
}
.plan-content-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.plan-content-h1 {
  border-radius: 100%;
  border: 30px solid #8490ff66;
  font-size: 36px;
  font-weight: 300;
  width: 90px;
  height: 90px;
  text-align: center;
  line-height: 90px;
}
.plan-content-list {
  padding: 10px 0;
}
.plan-content-list-ul > * {
  border-bottom: 2px solid rgb(211, 199, 199);
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  color: #777777;
  list-style: none;
}
.plan-content-button {
  padding: 20px 0;
}
.content-button {
  background-color: #8490ff;
  color: #f9f9ff;
  font-weight: 600;
  width: 100%;
  padding: 10px 0;
}
/* posts */
.posts {
  margin: 40px 0;
  padding: 20px 0;
}
.post-heading {
  text-align: center;
}
.post-h1 {
  font-weight: 500;
}
.post-p {
  font-weight: 300;
  color: #777777;
  padding: 30px 100px;
  letter-spacing: 1px;
  font-size: 14px;
}
.post-main-content-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  gap: 20px 20px;
}
/* .post-content-img {
  width: 100%;
} */
.post-user {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.post-user-img {
  /* padding-right: 20px; */
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.post-user-img img {
  border-radius: 100%;
}
.post-user-content {
  font-weight: 200;
  /* padding-top: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
.post-user-content span {
  padding: 0 5px;
}
.posts-box-content-h3 {
  font-weight: 500;
  padding: 20px 0;
  font-size: 18px;
  text-transform: uppercase;
}
.post-box-p {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}
/* labels */
.labels {
  margin: 10px 0;
  padding: 80px 0;
  background-color: #8490ff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* end */
.end {
  padding: 50px 5 0px;
  background-color: #04091e;
  color: #f9f9ff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: center;
  text-align: center; */
}
.end-content {
  width: 100%;
  padding: 20px 20px;
}
.end-h4 {
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: 500;
}
.end-p {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}
.form {
  display: flex;
  padding: 20px 0;
}
.form-control {
  border: none;
  width: 80%;
  height: 35px;
  font-weight: 300;
  font-size: 15px;
  color: #222;
  line-height: 10px;
}

.button-icon {
  padding: 10px 10px;
}
.end-icons {
  padding: 30px 20px !important;
}
.copyrights {
  margin: 20px 0;
}

@media (min-width: 200px) and (max-width: 640px) {
  body {
    padding: 0 20px;
    margin: 0;
  }
  .header-content {
    padding: 0 20px;
  }
  .logo_a {
    text-align: left;
  }
  .navbar_a {
    display: none;
  }

  /* banner */
  .banner {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
  .banner-content-head-3 {
    padding-top: 1000px;
  }
  .banner-content {
    padding: 10px 0;
  }
  .banner-content-h1 {
    font-size: 30px;
    padding-top: 50px;
  }
  .banner-image img {
    width: 250px;
    padding: 20px 0;
    text-align: center;
  }

  /* about me */
  .banner-about-me-image img {
    padding-top: 20px;
    width: 240px;
  }
  .banner-content-head-3 {
    padding: 0;
  }
  .banner-content-h1-about-me {
    font-size: 20px;
    padding: 20px 0;
  }
  .banner-content-p {
    padding-bottom: 60px;
  }
  /* offerred services */

  .services-header {
    padding: 0;
  }
  .services-header-p {
    margin: 0 -20px;
    padding-bottom: 40px;
    text-align: center;
    font-weight: 300;
  }
  .services_1-3 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
  }
  .services_4-6 {
    padding: 90px 0;
  }
  .services-h3 {
    font-size: 15px;
    font-weight: 700;
    width: 150px;
    text-align: center;
    margin: 0 -30px;
  }

  .main-services-content p {
    margin: 0 -90px;
    text-align: justify;
  }

  /* records */
  .records {
    display: flex;
    flex-direction: column;
    padding: 200px 0;
  }
  .record-content {
    padding: 30px 0;
  }

  /* feautres*/
  .features-heading {
    margin-bottom: 100px;
    padding: 0;
  }
  .features-link {
    display: none;
  }
  .featuers-card {
    display: flex;
    flex-direction: column;
  }
  .section-img img {
    width: 300px;
    height: 330px;
  }
  .overlay-image > img {
    display: none;
  }

  /* feedback */
  .feedback {
    margin-top: 200px;
  }
  .feedback-main-content-box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    width: 100%;
  }

  .feedback-img {
    padding: 0;
  }
  .feedback-img img {
    width: 40px;
    height: 40px;
  }
  .feedback-box-content {
    padding: 0;
  }

  /* plan */
  .plan-main-content-box {
    display: flex;
    flex-direction: column;
  }
  /* .plan-content-heading{
    width: 100%;
  } */
  .plan-content {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .plan-content-h1 {
    border-radius: 100%;
    border: 10px solid #8490ff66;
    font-size: 36px;
    font-weight: 300;
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
  }
  /* posts */
  .post-heading {
    padding-bottom: 50px;
    text-align: center;
  }
  .post-p {
    padding: 20px 0;
    margin: 0;
  }
  .post-main-content-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    gap: 20px;
  }
  .post-content-img {
    width: 100%;
  }
  .posts-box-content-h3 {
    letter-spacing: 1px;
    padding: 10px 0;
  }
  .post-box-p {
    padding-bottom: 50px;
  }
  /* labels */
  .labels {
    margin-right: 0;
    padding-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .labels-img {
    padding: 20px 0;
  }
  /* end */
  .end {
    display: flex;
    flex-direction: column;
    /* padding: 0 40px; */
  }
  .end-content {
    text-align: justify;
    margin: 0;
    width: 218px;
    /* dought */
    padding: 40px 20px;
  }
}

@media (min-width: 641px) and (max-width: 720px) {
  body {
    background-color: #8490ff;
    padding: 0 60px;
    margin: 0;
  }
  .header-content {
    padding: 0 20px;
  }
  .logo_a {
    text-align: left;
  }
  .navbar_a {
    display: none;
  }

  /* banner */
  .banner {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
  .banner-content-head-3 {
  }
  .banner-content {
    text-align: left;
    padding: 10px 0;
  }
  .banner-content-h1 {
    font-size: 30px;
    padding-top: 10px;
  }
  .banner-image img {
    width: 300px;
    padding: 20px 0;
    text-align: center;
  }

  /* about me */
  .banner-about-me-image img {
    padding-top: 20px;
    width: 540px;
  }
  .banner-content-head-3 {
    padding: 0;
  }
  .banner-content-h1-about-me {
    font-size: 20px;
    padding: 20px 0;
  }
  .banner-content-p {
    padding-bottom: 60px;
  }
  /* offerred services */
  .services-header {
    padding: 0;
  }
  .services-header-p {
    margin: 0 -30px;
    padding-bottom: 40px;
    text-align: center;
  }
  .services_1-3 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .services-h3 {
    font-size: 15px;
    text-align: center;
  }
  .main-services-content {
    padding: 0px;
  }
  .main-services-content p {
    margin: 0 -190px;
    text-align: center;
    letter-spacing: 1px;
  }

  /* records */
  .records {
    display: flex;
    flex-direction: column;
    padding: 150px 0;
  }
  .record-content {
    padding: 30px 20px;
  }

  /* feautres*/
  .features-heading {
    margin: 0;
    padding-bottom: 40px;
  }

  .featuers-card {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  .section-img {
    padding: 10px 20px;
  }
  .section-img img {
    width: 130px;
    height: 30%;
  }
  .overlay-image > img {
    display: none;
  }
  .section-content {
    font-size: 12px;
  }

  /* feedback */
  .feedback {
    padding: 100px 0;
  }
  .feedback-main-content-box {
    display: flex;
    flex-direction: column;
  }
  .feedback-box {
    display: flex;
    flex-direction: row;
  }
  .feedback-img img {
    width: 40px;
    height: 40px;
  }
  .feedback-box-content {
    padding: 0;
  }

  /* plan */
  .plan-main-content-box {
    display: flex;
    flex-direction: column;
    margin: 150px 20px;
    gap: 40px;
  }
  .plan-content {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .plan-content-h1 {
    border-radius: 100%;
    border: 35px solid #8490ff66;
    font-size: 36px;
    font-weight: 300;
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
  }

  /* posts */
  .post-p {
    /* background-color: #8490ff; */
    padding: 30px 50px;
    letter-spacing: 1px;
  }
  .post-main-content-box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .post-content-img {
    width: 100%;
  }
  .post-user-img img {
    width: 50%;
  }
  .posts-box-content-h3 {
    letter-spacing: 1px;
    padding: 10px 0;
  }
  .post-box-p {
    padding-bottom: 50px;
  }
  /* labels */
  .labels {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .labels-img img {
    width: 100px;
    padding: 20px 10px;
  }
  /* end */
  .end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
  }
}
@media (min-width: 0px) and (max-width: 300px) {
  body {
    padding: 0 60px;
    margin: 0;
  }
  .header-content {
    padding: 0 20px;
  }
  .logo_a {
    text-align: left;
  }
  .navbar_a {
    display: none;
  }

  /* banner */
  .banner {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
  .banner-content-head-3 {
  }
  .banner-content {
    text-align: left;
    padding: 10px 0;
  }
  .banner-content-h1 {
    font-size: 30px;
    padding-top: 10px;
  }
  .banner-image img {
    width: 300px;
    padding: 20px 0;
    text-align: center;
  }

  /* about me */
  .banner-about-me-image img {
    padding-top: 20px;
    width: 540px;
  }
  .banner-content-head-3 {
    padding: 0;
  }
  .banner-content-h1-about-me {
    font-size: 20px;
    padding: 20px 0;
  }
  .banner-content-p {
    padding-bottom: 60px;
  }
  /* offerred services */
  .services-header {
    padding: 0;
  }
  .services-header-p {
    margin: 0 -30px;
    padding-bottom: 40px;
    text-align: center;
  }
  .services_1-3 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .services-h3 {
    font-size: 15px;
    text-align: center;
  }
  .main-services-content {
    padding: 0px;`
  }
  .main-services-content p {
    margin: 0 -190px;
    text-align: center;
    letter-spacing: 1px;
  }

  /* records */
  .records {
    display: flex;
    flex-direction: column;
    padding: 150px 0;
  }
  .record-content {
    padding: 30px 20px;
  }

  /* feautres*/
  .features-heading {
    margin: 0;
    padding-bottom: 40px;
  }

  .featuers-card {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  .section-img {
    padding: 10px 20px;
  }
  .section-img img {
    width: 130px;
    height: 30%;
  }
  .overlay-image > img {
    display: none;
  }
  .section-content {
    font-size: 12px;
  }

  /* feedback */
  .feedback {
    padding: 100px 0;
  }
  .feedback-main-content-box {
    display: flex;
    flex-direction: column;
  }
  .feedback-box {
    display: flex;
    flex-direction: row;
  }
  .feedback-img img {
    width: 40px;
    height: 40px;
  }
  .feedback-box-content {
    padding: 0;
  }

  /* plan */
  .plan-main-content-box {
    display: flex;
    flex-direction: column;
    margin: 150px 20px;
    gap: 40px;
  }
  .plan-content {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .plan-content-h1 {
    border-radius: 100%;
    border: 35px solid #8490ff66;
    font-size: 36px;
    font-weight: 300;
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
  }

  /* posts */
  .post-p {
    /* background-color: #8490ff; */
    padding: 30px 50px;
    letter-spacing: 1px;
  }
  .post-main-content-box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .post-content-img {
    width: 100%;
  }
  .post-user-img img {
    width: 50%;
  }
  .posts-box-content-h3 {
    letter-spacing: 1px;
    padding: 10px 0;
  }
  .post-box-p {
    padding-bottom: 50px;
  }
  /* labels */
  .labels {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .labels-img img {
    width: 100px;
    padding: 20px 10px;
  }
  /* end */
  .end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
  }
}
