#first {
  position: relative;
  top: 0px;
  left: 0px;
}
#first1_1 {
  position: relative;
  left: 550px;
  font-size: xx-large;
}
#first1_2 {
  position: relative;
  top: 0px;
  left: 700px;
  font-size: xx-large;
}
#first1_3 {
  position: relative;
  top: 0px;
  left: 900px;
  font-size: xx-large;
}
#first1_4 {
  position: relative;
  top: 0px;
  left: 1050px;
  font-size: xx-large;
}
#banner {
  position: relative;
}
#second {
  position: relative;
  left: 0px;
}
#image1 {
  width: 500px;
  position: relative;
  top: -204px;
  left: 547px;
}
#second1_2 {
  position: relative;
  left: 1034px;
  top: -523px;
  width: 530px;
}

#third {
  position: relative;
  left: 1029px;
  top: -537px;
  width: 530px;
}
#about-us {
  font-size: xx-large;
  position: relative;
  top: -552px;
}
#fourth {
  position: relative;
  left: 0px;
  top: -500px;
}
#fourth1 {
  position: relative;
  left: 540px;
  top: -900px;
}
#fourth2 {
  position: relative;
  left: 1072px;
  top: -1300px;
}
#services {
  font-size: xx-large;
  position: relative;
  top: -1257px;
}

#sixth {
  position: relative;
  left: 0px;
  top: -1243px;
  width: 10%;
}
#sixth1 {
  position: relative;
  left: 482px;
  top: -1600px;
  width: 10%;
}
#sixth2 {
  position: relative;
  left: 932px;
  top: -1967px;
  width: 10%;
}
#sixth3 {
  position: relative;
  left: 1350px;
  top: -2328px;
  width: 10%;
}
#contact-us {
  font-size: xx-large;
  position: relative;
  top: -2300px;
}
#Copyright1 {
  position: relative;
  top: -2255.6px;
}
